<html>
<head> 
  <link type='text/css' rel='stylesheet' href='/css/birthday_styles.css'>

</head>

<body>

<h1>Happy Birthday, <%= $user_name %>!</h1> 
<br>
<h2>Your Birthday is on <%= session[:day] %> <%= session[:month]%> </h2>
</body>
</html>