<html>
<head> 
  <link type='text/css' rel='stylesheet' href='/css/birthday_styles.css'>

</head>

<body>

<h1>Hello, <%= @birthday_instance.name %>!</h1> 
<br>
<h2>Your Birthday is in <%= @birthday_instance.countdown %> day.</h2>
</body>
</html>